.YCFrontPageListView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.YCFrontPageListView > a {
    align-items: center;
    box-sizing: border-box;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    min-height: 200px;
    padding: 2em 1em;
    text-align: center;
    text-decoration: none;
}

.YCFrontPageListView > a .title,
.YCFrontPageListView > a .description {
    max-width: 30em;
}

.YCFrontPageListView > a .description {
    color: hsl(0, 0%, 50%);
    margin: 1em 0;
}

.YCFrontPageListView  > a:first-child {
    font-size: 200%;
    width: 100%;
}

.YCFrontPageListView > a:hover .title {
    color: hsl(30, 100%, 50%);
}

.YCFrontPageListView time {
    color: hsl(0, 0%, 50%);
    font-size: 14px;
    font-style: italic;
}

/* first summary font size */

@media (max-width: 1067px) {
    .YCFrontPageListView > a:first-child {
        font-size: 150%;
    }
}

@media (max-width: 735px) {
    .YCFrontPageListView > a:first-child {
        font-size: 125%;
    }
}

/* summary width */

@media (max-width: 959px) {
    .YCFrontPageListView > a {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .YCFrontPageListView > a {
        width: 100%;
    }
}
