.YCFrontPageListView > .first,
.YCFrontPageListView > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.YCFrontPageListView .page {
    box-sizing: border-box;
    color: inherit;
    padding: 20px;
    text-decoration: none;
}

.YCFrontPageListView > .first .page {
    width: 640px;
}

.YCFrontPageListView > .container .page {
    width: 480px;
}

.YCFrontPageListView figure {
    width: 100%; /* establish width for child padding-bottom */
}


.YCFrontPageListView figure > div {
    padding-bottom: 56.25%;
    position: relative;
}

.YCFrontPageListView figure > div > div {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

.YCFrontPageListView figure img {
    max-height: 100%;
    max-width: 100%;
}

.YCFrontPageListView .title {
    font-size: inherit;
    margin-top: 5px;
}

.YCFrontPageListView .page:hover .title {
    color: var(--CBLinkColor);
}

.YCFrontPageListView .page .description {
    color: rgba(0, 0, 0, 0.4);
    line-height: 1.5;
    margin: 0.5em 0;
    font-style: italic;
}

.YCFrontPageListView time {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-style: italic;
}

/* first summary font size */

@media (max-width: 1067px) {
    .YCFrontPageListView > .first {
        font-size: 150%;
    }
}

@media (max-width: 735px) {
    .YCFrontPageListView > .first {
        font-size: 125%;
    }
}

/* summary width */

@media (max-width: 959px) {
    .YCFrontPageListView > .container .page {
        width: 50%;
    }
}

@media (max-width: 639px) {
    .YCFrontPageListView > .first .page {
        width: 100%;
    }

    .YCFrontPageListView > .container .page {
        width: 100%;
        max-width: 480px;
    }
}
